<head>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{{appName}}</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="keywords" content="facebook, angularjs, mongoose, mongodb, angularjs, swig, birthday">
    <meta name="description" content="Jisan's Facebook Birthday App">

    <link href="/img/icons/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <meta property="fb:app_id" content="APP_ID">
    <meta property="og:title" content="{{appName}} - {{title}}">
    <meta property="og:description" content="MEAN - A Modern Stack: MongoDB, ExpressJS, AngularJS, NodeJS. (BONUS: Passport User Support).">
    <meta property="og:type" content="website">
    <meta property="og:url" content="APP_URL">
    <meta property="og:image" content="APP_LOGO">
    <meta property="og:site_name" content="MEAN - A Modern Stack">
    <meta property="fb:admins" content="APP_ADMIN">

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-responsive.css"> -->


    <!-- All Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Cambo' rel='stylesheet' type='text/css'>
<!-- My own CSS -->
    <link rel="stylesheet" href="/css/views/birthdays.css" >
    <link rel="stylesheet" href="/css/views/sidebar.css" >
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/brackets/css/style.default.css"


<!-- bootstrap dependencies -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/lib/angular-bootstrap-datetimepicker/src/css/datetimepicker.css" >
    <link type="text/css" href="/lib/bootstrap/less/dropdown.css" >


<!-- jquery dependencies -->
    <link type="text/css" href="/lib/fullcalendar/fullcalendar.css" >

<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

    <script type="text/javascript" src="/lib/jquery/dist/jquery.js"> </script>
    <script type="text/javascript" src="/lib/fullcalendar/fullcalendar.js"> </script>


</head>
