<br><br><br><br><br><br>

<section ng-controller="BirthdaysController" ng-init="find()">
<h5> Search Friends</h5>
<input type="text" ng-model="search.name" name= "Search Friends"placeholder="Friend Name Here">
<searchlimit></searchlimit>

<div class = "col-md-12">

  <div ng-repeat="birthday in birthdays | filter: search | limitTo:limitct">
    <div id="friend_box" class = "col-md-4">
    <form  action="/fbchat" method="POST" name='birthdayForm'>

      <span> {{birthday.name}} </span>
      <span> {{birthday.birthday}}</span>
      <span> <img src={{birthday.image.data.url}}></img></span>
      <br>
      <!-- inputs that gets passed behind -->
      <span> <input type="text" class="form-control" placeholder="Text input" name="message" > </span>
      <span> <input ng-hide="global.authenticated" type="text" class="form-control" placeholder="Text input" name="friend_name" value="{{birthday.name}}">  </span>
      <span> <input ng-hide="global.authenticated" type="text" class="form-control" placeholder="Text input" name="friend_bday" value="{{birthday.birthday}}">  </span>

      <span> <button type="submit" class="btn btn-success">Message</button> </span>

    </form >

    <form ng-controller="FacebookController" >
      <span> <input type="text" class="form-control" placeholder="Text input" name="message" > </span>
      <span id="fbpost" ng-click="postToWall(birthday.user_id, birthday.fb_id, 'Hello World!' )"> <button class="btn btn-success">Post To Friend's Wall</button> </span>
    </form>

  </div>
  </div>

</div>
</section>






