ul
{
list-style-type: none;
}

a {
  font-style: none;
}


h1 {
  font-size: 39pt;
}

/* Sign In Page */

#fblogo {
  float: left;
}

/* Button */
.button {
    display: inline-block;
    margin: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow:    0 8px 0#758ab6, 0 15px 20px #758ab6;
    -moz-box-shadow: 0 8px 0#3b5998, 0 15px 20px #3b5998;
    box-shadow: 0 8px 0 #758ab6, 0 15px 20px #3b5998;
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    font-size: 50px;
    color: #fff;
    text-align: center;
}

.button span {
    font-family: 'Cambo', serif;
    display: inline-block;
    padding: 20px 30px;
    background-color: #ec528d;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#758ab6), to(#758ab6));
    background-image: -webkit-linear-gradient(#3b5998, #758ab6);
    background-image: -moz-linear-gradient(#3b5998, #758ab6);
    background-image: -o-linear-gradient(#3b5998, #758ab6);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    /*font-family: 'Pacifico', Arial, sans-serif;*/
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

.button:hover span {
    background-color: #ec6a9c;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .9), 0 0 5px rgba(255, 255, 255, .8);
}

.button:active, .button:focus {
    -webkit-box-shadow:    0 8px 0 blue, 0 12px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 0 blue, 0 12px 10px rgba(0, 0, 0, .3);
    box-shadow:    0 8px 0 blue, 0 12px 10px rgba(0, 0, 0, .3);
}

.button:active span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

#friend_box {
  float: left;
  width: 355px;
  height: 155px;
  padding: 15px 15px 15px 5px;
  margin: 10px 10px 10px 10px;
  display: inline-block;
  background-color: #899bc1;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  color: black;
  font-size: 20px;
}

#friend_pic {
    width: 150px;
    height: 140px;
    float: right;
}

#friend_name {
    float: center;
    font-size: 24px
}

#message_input {
    float: left;
}

#chat_message {
    font-size: 16px
}

#message_button {
  height: 50px;
  width: 150px;
  font-family: 'Cambo', serif;
  font-size: 18px;
  background-color: green;
}

