{% extends 'layouts/cover.html' %}
{% block pagecontent %}

      <div class="inner cover ">
          <h1 class="">Jisan's Facebook Birthday App</h1>
          <p class=""> A simple way to schedule personal messages to friends on their special day!</p>
          {% if !req.user %}
          <p class="lead">
            <a href="/auth/facebook" class="btn btn-lg btn-default btn-social btn-facebook">
              <i class="fa fa-facebook"></i> Sign In With Facebook</a>

              <br><br>

              <h3 class="inner cover">Here's a screencast of how the app works: </h3>

            <div id="IframeWrapper"> <iframe style="z-index: 99999999" width="560" height="315" src="//www.youtube.com/embed/bywMaLbuqGw" frameborder="0" allowfullscreen></iframe>
            </div>
      `   </p>
          {% else %}
          <a href="/birthdays/today" class="btn btn-lg btn-default btn-social btn-facebook">
              Check Out Today's Birthdays</a>
          {% endif %}
        <div class="mastfoot">
          <div class="inner">
            <p>This app is still in development, please e-mail jzthegreat@gmail.com if you want access to it.</p>
          </div>
        </div>

      </div>








    <script type="text/javascript">
        window.user = {{user|safe}}
    </script>

{% endblock %}
