<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="images/favicon.png" type="image/png">

  {% include '../includes/head.html' %}

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="">

<section>

  <div class="leftpanel">

    <div class="logopanel">
        <h5><span>[</span> Jisan's Birthday Messenger App <span>]</span></h5>
    </div><!-- logopanel -->

    <div class="leftpanelinner">

        <!-- This is only visible to small devices -->
        <div class="visible-xs hidden-sm hidden-md hidden-lg">
            <div class="media userlogged">
                <img alt="" src="images/photos/loggeduser.png" class="media-object">
                <div class="media-body">
                    <h4>John Doe</h4>
                    <span>"Life is so..."</span>
                </div>
            </div>

            <h5 class="sidebartitle actitle">Account</h5>
            <ul class="nav nav-pills nav-stacked nav-bracket mb30">
              <li><a href="profile.html"><i class="fa fa-user"></i> <span>Profile</span></a></li>
              <li><a href=""><i class="fa fa-cog"></i> <span>Account Settings</span></a></li>
              <li><a href=""><i class="fa fa-question-circle"></i> <span>Help</span></a></li>
              <li><a href="signout.html"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
            </ul>
        </div>

      <h5 class="sidebartitle">Navigation</h5>
      <ul class="nav nav-pills nav-stacked nav-bracket">
        <li><a href="/home"><i class="fa fa-home"></i> <span>Home</span></a></li>
        <li class="nav-parent "><a href="/schedules"><i class="fa fa-calendar"></i> <span>Scheduled Messages</span></a>
        </li>
        <li class="nav-parent"><a href="/birthdays"><i class="fa fa-file-text"></i> <span>Birthdays</span></a>

            <li><a href="/birthdays/today"><i class="fa fa-caret-right"></i> Today</a></li>
            <li><a href="/birthdays/week"><i class="fa fa-caret-right"></i> This Week</a></li>
            <li><a href="/birthdays/month"><i class="fa fa-caret-right"></i> This Month</a></li>

        </li>

      </ul>

    </div><!-- leftpanelinner -->
  </div><!-- leftpanel -->

  <!-- Main Panel -->
  <div class="mainpanel">

    <!-- Pageheader -->
    <div class="headerbar">


      <div class="header-right">
        <ul class="headermenu">
          <li>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                {{ req.user.name }}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-usermenu pull-right">

                <li><a href="/signout"><i class="glyphicon glyphicon-log-out"></i> Log Out</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- end pageheader -->

    <!-- Content Panel -->
    <div class="contentpanel">
      {% block content %}{% endblock %}
    </div>
    <!-- end content panel -->
  </div>
  <!-- end main panel -->

</section>

{% include '../includes/foot.html' %}
{% block js_footer %}{% endblock %}
<script type="text/javascript">


  // hack to fix font loading - from: https://productforums.google.com/forum/#!topic/chrome/elw8busIfJA
  $(function() { $('body').hide().show(); });

</script>
</body>
</html>
